body {
	font-family: "PT Sans", sans-serif;
	color: #514943;
	background-color: #EFE7DC;
}

main {
	overflow: hidden;
}

/* ----BACKGROUNDS---- */

.background-forest {
	background-color: #0C301E;
}

.background-wheat {
	background-color: #EFE7DC;
}




/* -----TEXT MODIFIERS------ */

h1 {
	font-family: "Gochi Hand", cursive;
	letter-spacing: 0px;
	margin-top: 0px;
	color: #F8F6F3;
	font-size: 75px;
	line-height: 145%;
	margin-bottom: 10px;
}


 h2 {
 	font-family: "Gochi Hand", cursive;
	letter-spacing: 0px;
	color: #3C3C3C;
	font-size: 50px;
	line-height: 145%;
	margin-top: 0px;
	margin-bottom: 16px;
}

h3 {
	color: #3C3C3C;
	font-size: 29px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 16px;
}

p {
	font-size: 16px;
	line-height: 145%;
	margin-top: 0px;
}

.subtitle {
	color: #F8F6F3;
	font-size: 40px;
	margin: 0px 0px 18px 0px;
}

.mission-text {
	font-size: 20px;
	line-height: 145%;
	margin-bottom: 18px;
}
}


/* ----TEXT LAYOUT---- */

.text-center { 
	text-align: center; 
}

.text-white { 
	color: #F8F6F3; 
}

.list-no-bullets {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}


/* ----IMAGES---- */

.img-full {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* ----NAVIGATION---- */

header {
	padding: 16px 4%;
}

.nav-wrap {
	width: 88%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.logo {
	width: 83px;
	display: block;
}


.navigation {
	flex: 1;
	display: flex;
	justify-content: center;
}


.segment {
	width: min(900px, 80vw);
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	padding: 15px 30px;
	background-color: #3C3C3C;
	border-radius: 9px;
	opacity: 0.85;
	flex: 1;
	text-align: center;
}

.nav-link {
	display: block;
	padding: 8px 0px;
	color: #F8F6F3;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
}

.hamburger {
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #EFE7DC;
}


/* ----BUTTONS---- */

.button {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	color: #F8F6F3;
	padding: 10px 18px;
	background-color: #C26A4B;
	text-decoration: none;
	font-weight: 700;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
}

.button-hover {
	background-color: #D97A59;
}
            


/* ----HERO---- */

.section-padding-hero {
	padding: 24px 0px;
}      


.hero-img {
	background-image: url(images/index hero.png); /
	background-size: cover;
	background-position: center;
	height: 753px;
	overflow: hidden;
	position: relative;
} 


.breadcrumb {
	position: absolute;
	top: 18px;
	left: 18px;
	color: #F8F6F3;
	text-decoration: none;
	z-index: 2;
}


.hero-card {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 88%;
	max-width: 1064px;
	padding: 50px 30px;
	border-radius: 18px;
	background: ##0C301E;
	z-index: 2;
}

/* ----SERVICES---- */

.service-row {
	margin-top: 48px;
}

.service-img-wrap {
	width: 100%;
	height: 432px;
	overflow: hidden;
}

.service-card {
	box-shadow: 0px 11px 10.7px 2px rgba(0, 0, 0, 1);
	padding: 40px;
	margin-left: -120px; 
}

.service-row-reverse {
	margin-left: 0px;
	margin-right: -120px;
}


.service-card {
	margin-left: 0px;
	margin-right: -120px;
}



.service-card-sky { 
	background-color: #AFC8F6; 
	opacity:50%;
}

.service-card-marigold { 
	background-color: #E8C500; 
	opacity: 50%;
}


.service-card-ocean { 
	background-color: #83BBC4; 
	opacity: 50%;
}


.service-link {
	color: #3C3C3C;
	text-decoration: underline;
}


/* ----MARKET---- */

.market-title {
	margin-bottom: 10px;
	text-decoration: underline;
}

.market-wrap {
	margin-top: 30px;
}

.market-gallery {
	display: flex;
	gap: 32px;
	overflow: hidden; /* matches your “carousel look” */
	padding: 10px 0px;
}


.market-card {
	width: 297px;
	border-radius: 18px;
	box-shadow: 3px 10px 62.2px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: #F8F6F3;
	flex: 0 0 auto;
}


.market-img {
	height: 380px;
}

.market-text {
	padding: 18px 18px 22px 18px;
	text-align: center;
}

.market-desc {
	color: #5C524A;
	margin-bottom: 16px;
}

.market-button {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 10px 18px;
	border-radius: 13px;
	text-decoration: none;
	color: #C26A4B;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}


/* ----FOOTER---- */




/* ----MOBILE BREAKPOINT---- */

@media screen and (max-width: 478px) {

	h1 { 
		font-size: 56px; 
	}

	h2 { 
		font-size: 44px; 
	}

	h3 { 
		font-size: 28px; 
	}


	.subtitle { 
		font-size: 32px; 
	}

	.menu { 
		display: none; 
	}

	.hamburger { 
		display: flex; 
	}


	.hero-img { 

		height: 460px; 
	}

	.hero-card {
		padding: 36px 18px;
		top: 55%;
	}

	.service-card {
		margin: 0px;
		margin-top: 18px;
		padding: 24px;
	}

	.service-row-left {
		margin: 0px;
		margin-top: 18px;
		padding: 24px;
	}

	.service-card {
		margin: 0px;
		margin-top: 18px;
		padding: 24px;
	}


            