body {
	font-family: "PT Sans", sans-serif;
	color: #514943;
	background-color: #EFE7DC;
}

main {
	overflow: hidden;
}

/* ----BACKGROUNDS---- */

.background-forest {
	background-color: #0C301E;
}

.background-wheat {
	background-color: #EFE7DC;
}

/* -----TEXT MODIFIERS------ */

h1 {
	font-family: "Gochi Hand", cursive;
	color: #F8F6F3;
	font-size: 75px;
	line-height: 145%;
	letter-spacing: 0px;
	margin-top: 0px;
}

.subtitle {
	color: #F8F6F3;
	font-size: 40px;
	margin: 0px 0px 18px 0px;
	opacity: 0.95;
}
h2 {
	font-family: "Gochi Hand", cursive;
	color: #3C3C3C;
	font-size: 50px;
	line-height: 145%;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 16px;

}


h3 {
	color: # #3C3C3C;
	font-size: 29px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 16px;

}


/* -----TEXT LAYOUT------ */
.text-center {
	text-align: center;
}

.list-no-bullets {
	list-style: none;
	padding-left: 0px;
}


/* TEXT COLOUR */

.text-white {
	color: #f8f6f3;
}


/* Navigation */

header {
	background-color: #0C301E;
	padding: 16px 4%;
}

.nav-link {
	color: #f8f6f3;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 25px;
	padding-left: 0px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 55px;
}

.nav-link-hover {
	text-decoration: underline;
}

.menu {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.segment {
	display: flex;
	justify-content: center;
	gap: 85px;
	padding-left: 0px;
	margin: 0px;
	background-color: #3C3C3C;
	border-radius: 9px;
	padding: 15px 30px;
}
.hamburger {
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #EFE7DB;
}
.breadcrumb {
	position: absolute;
	top: 128px;
	left: 18px;
	color: #f8f6f3;
	text-decoration: none;
	z-index: 2;
}

/* BUTTONS */

.button {
	display: inline-flex;
	align-items: center
	gap: 15px;
	color: #F8F6F3;
	padding: 10px 18px;
	background-color: #C26A4B;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
}

.button:hover {
	background-color: #D97A59;
}



/* ----INDIVIDUAL STYLES--- */

.hero-img {
	background-image: url(images/hero.png);
	background-size: cover;
	background-position: center;
	height: 753px;
	overflow: hidden;
}

.hero-box {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 1064px;
	padding: 50px 30px;
	border-radius: 18px;
	background: #0C301E;
	opacity: 40%;
	z-index: 2;
}







/* -----MOBILE BREAKPOINT---- */

@media screen and (max-width: 478px) {

	h1 { font-size: 56px; }
	h2 { font-size: 44px; }
	h3 { font-size: 28px; }

	.menu { display: none; }

	.hamburger { display: flex; }

	.hero-img { height: 460px; }

	.subtitle { font-size: 32px; }

	.hero-box {
		padding: 36px 18px;
		top: 56%;
	}
}
