body {
	font-family: "PT Sans", sans-serif;
	color: #514943;
	background-color: #EFE7DC;
}




/* Navigation */

header {
	background-color: #0M6R9Q;
	padding: 16px 4%;
}

.nav-link {
	color: #f8f6f3;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Text Colour */

.text-white {
	color: #f8f6f3;
}
