body {
	font-family: "PT Sans", sans-serif;
	color: #514943;
	background-color: #EFE7DC;
}

main {
	overflow: hidden;
}

/* ----BACKGROUNDS---- */

.background-forest {
	background-color: #0C301E;
}

.background-wheat {
	background-color: #EFE7DC;
}

/* -----TEXT MODIFIERS------ */
h1 {
	color: #F8F6F3;
	font-size: 75px;
	line-height: 145%;
	letter-spacing: 0px;
	margin-top: 0px;
}

h2 {
	color: #3C3C3C;
	font-size: 50px;
	line-height: 145%;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 16px;

}

h3 {
	color: # #3C3C3C;
	font-size: 29px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 16px;

}

/* -----TEXT LAYOUT------ */
.text-center {
	text-align: center;
}

.list-no-bullets {
	list-style: none;
	padding-left: 0px;
}


/* TEXT COLOUR */

.text-white {
	color: #f8f6f3;
}


/* Navigation */

header {
	background-color: #0C301E;
	padding: 16px 4%;
}

.nav-link {
	color: #f8f6f3;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-link-hover {
	text-decoration: underline;
}

.breadcrumb {
	position: absolute;
	top: 18px;
	left: 18px;
	color: #f8f6f3e;
	text-decoration: none;
	opacity: 0.9;
	z-index: 2;
}


